<!DOCTYPE html>
<html>
    <head>
        <title>CSTIX</title>
    </head>
    <body>
        <h1>handle login</h1>
        <h1>Select an Event</h1>
        <form action="/login" method="post">
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username">
            <label for="user_password">User Paaword:</label>
            <input type="text" id="password" name="password">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
